body {
    margin: 0;
    padding: 0;
}
.section1 {
    display: flex;
    justify-content: space-between ;
    background-color: #1f2937;
    height: 400px;
}
.links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: white;
}